<h1>Nouvel utilisateur</h1>
<p>Veuillez renseigner ci-dessous les informations pour créer votre compte utilisateur</p>

<%= form_tag url_for(action: 'create'), method: "post" do %>
      <%= label_tag 'Prénom' %>
      <%= text_field_tag 'first_name' %>
      <br /> <br />
      <%= label_tag 'Nom' %>
      <%= text_field_tag 'last_name' %>
      <br /> <br />
      <%= label_tag 'Description' %>
      <%= text_field_tag 'description' %>
      <br /> <br />
      <%= label_tag 'Mot de passe' %>
      <%= password_field_tag 'password' %>
      <br /> <br />
      <%= label_tag 'Confirmation du mot de passe' %>
      <%= password_field_tag 'password_confirmation' %>
      <br /> <br />
      <%= label_tag 'E-mail' %>
      <%= text_field_tag 'email' %>
      <br /> <br />
      <%= label_tag 'Age' %>
      <%= text_field_tag 'age' %>
      <br /> <br />
      <%= submit_tag "Valider" %>
<% end %>

